.form_reg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form_reg > form {
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: column;
}

.form__input {
    outline: none;
    border: 1px solid rgba(119, 119, 119, 0.75);
    margin-bottom: 10px;
    width: 100%;
    padding: 0.3rem;
}

.form__btn {
    border: none;
    width: 70%;
    padding: 0.4rem 0;
    cursor: pointer;
}
