@import "../styles/base";

.header {
    background-color: $headerBG;
    padding: 0 1.5rem;
}

.header__wrapper {
    @include flexSpaceBetweenCenter();
    width: 100%;
}

.header__logo {
    padding: 1rem 0;
}

.header__auth {
    @include flexSpaceBetweenCenter();
}

.header__theme {
    @include flexCenterCenter();
    border: 1px solid rgb(71, 71, 71);
    border-radius: 50%;
    width: 23px;
    height: 23px;
    margin-left: 10px;
    padding-bottom: 2px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.header__btn {
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    margin-left: 7px;
    border: 1px solid $headerBG;
    &:hover {
        border: 1px solid $headerBtn-hover;
    }
}
