@import "./themes.scss";

//////////
/// TODO: move to config

// modal
$overlayDark: rgba(41, 4, 75, 0.5);

// background
$btnBG: rgb(220, 197, 236);
$btnBG-hover: rgb(153, 117, 177);
$mainBG: white;
$headerBG: rgb(167, 157, 179);

// border
$inputBorderColor: #777;
$headerBtn-hover: rgb(56, 41, 73);

// font
$primaryFont: #242d30;
$secondaryFont: #b45139;

/////////

@mixin flexCenterCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceBetweenCenter() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.base {
    @include themed() {
        color: t("text");
        background: t("bg");
    }

    padding: 0 2rem;
}

.header__logo {
    @include themed() {
        color: t("text");
    }
}

// normolize
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
